
<div class="content">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Eğitmen Ekle</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="teacherAddForm">
            <div class="mb-3">
              <label for="teacherName">Eğitmen Adı</label>
              <div class="form-group">
                <input
                  type="text"
                  id="teacherName"
                  formControlName="teacherName"
                  class="form-control"
                  placeholder="Eğitmen Adı"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="education">Eğitmenin Branşı</label>
              <div class="form-group">
                <input
                  type="text"
                  id="education"
                  formControlName="education"
                  class="form-control"
                  placeholder="Branşını giriniz"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-fill btn-primary" (click)="addTeacher()">Ekle</button>
        </div>
      </div>
    </div>
  </div>
  