<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Kurs Ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="arama ifadesi giriniz">
</div>
<div *ngIf="filterText.length>1" class="alert alert-success">
{{filterText}} aradınız
</div>

<table *ngIf="dataLoaded==true" class="table">
  <thead class="thead-dark">
    <tr>
      <!--<th>Kurs Id</th>
      <th>Öğretmen Id</th> -->
      <th>Kurs Adı</th>
      <th>Ücret</th>
      <th>Başlangıç Tarihi</th>
      <th>Bitiş Tarihi</th>
    </tr>
  </thead>

  <tr *ngFor="let course of courses | filterPipe:filterText">
    <!--<td>{{ course.courseId }}</td>
    <td>{{ course.teacherId }}</td> -->
    <td>{{ course.courseName | uppercase}}</td>
    <td>{{ course.fee | currency: "TRY":"":"" }}</td>
    <td>{{ course.startDate | date: 'dd/MM/yyyy'}}</td>
    <td>{{ course.finishDate | date: 'dd/MM/yyyy'}}</td>
  </tr>
</table>

